header{
    background-color: #dcf58f;
    text-align: center;
}
body{
    background-color: #a4c639;
}
footer{
    background-color: #85a71d; 
    text-align: center;
}
div{
    text-align: center;
}
